.logos{
    font-size: 16px;
    display: inline-block;
    vertical-align: middle;
}

#multipurposeframes{
    width: 90%;
    margin: 6% auto 0 auto;
}

.multipurposeframe_counter{
    margin: 0 auto 0 auto;
    border-radius: 10px;
    font-size: 300px;
    color: #FFF;
    line-height: 500px;
}

.multipurposeframe_whowasfirst {
	margin: 0 auto 0 auto;
    border-radius: 10px;
    height: 500px;
    width: 500px;
}

.multipurposeframe_label{
    font-size: 80px;
    color: #FFF;
}

#multipurposeframes_0{
    background-color: #99FF00;
}

#multipurposeframe_1{
    background-color: #FFCC00;
}

#multipurposeframe_2{
    background-color: #CC0000;
}