#multipurposeframes{
    width: 90%;
    margin: 6% auto 0 auto;
}

.multipurposeframe_counter{
    margin: 0 auto 0 auto;
    border-radius: 10px;
    font-size: 300px;
    color: #FFF;
    line-height: 500px;
}

.multipurposeframe_whowasfirst {
	margin: 0 auto 0 auto;
    border-radius: 10px;
    border-style: solid;
    border-color: darkgrey;
    border-width: medium;
    height: 500px;
    width: 500px;
}

.multipurposeframe_label{
    font-size: 80px;
    color: #FFF;
}

#multipurposeframe_0{
    background-color: #008000;
}

#multipurposeframe_1{
    background-color: #FFFF00;
}

#multipurposeframe_2{
    background-color: #FF0000;
}