<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Mega-KFNT3000 Buzzerapp</title>

		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<link rel="stylesheet" th:href="@{/css/index.css}"/>
		<script th:src="@{/js/index.js}"></script>
    </head>

    <body>

        <header>
            <img id="technik_logo" class="logos" height="120" src="images/on_tour_for_jesus.png">
            <img id="cvjm_logo" class="logos" height="120" src="images/cvjm_bayern.png">
        </header>

        <div id="multipurposeframes" class="text-center">

            <div class="row">
                <div class="col">
                    <span class="multipurposeframe_label" id="teamname0"></span>
                </div>
                <div class="col">
                    <span class="multipurposeframe_label" id="teamname1"></span>
                </div>
                <div class="col">
                    <span class="multipurposeframe_label" id="teamname2"></span>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div id="multipurposeframe_0" class="multipurposeframe_counter">3</div>
                </div>
                <div class="col">
                    <div id="multipurposeframe_1" class="multipurposeframe_counter">8</div>
                </div>
                <div class="col">
                    <div id="multipurposeframe_2" class="multipurposeframe_counter">11</div>
                </div>
            </div>

        </div>

    </body>

</html>