<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<title>Mega-KFNT3000 Buzzerapp Einstellungen</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}" />
<link rel="stylesheet" th:href="@{/css/settings.css}" />
<script th:src="@{/js/settings.js}"></script>
</head>

<body>

	<header>
		<img id="konficastle_logo" class="logos" height="120"
			src="images/cvjm_konficastle.png"> <img id="cvjm_logo"
			class="logos" height="120" src="images/cvjm_bayern.png">
	</header>

	<div class="mt-5 container-sm">

		<div class="card text-center">
			<div class="card-header">Mega-KFNT3000 Einstellungen</div>

			<div class="card-body">

				<form id="buzzer-settings-form" action="javascript:void(0);">


					<div class="mt-3 form-group">
						<label class="form-label" for="gamemode">Spielmodus</label> <select
							class="form-control" id="gamemode" value="counter"
							name="gamemode">
							<option value="counter">Buzzerdr&uumlcke z&aumlhlen</option>
							<option value="whowasfirst">Wer war der Erste?</option>
						</select>
					</div>

					<div class="mt-3 row form-group">

						<div class="col-7">

							<label class="form-label" for="teamname1">Name Team 1</label> <input
								class="form-control" id="teamname1" type="text" name="teamname1" />

						</div>
						<div class="col-2 bg-light">

							<label class="form-label" for="scoreteam1">Score Team 1</label> <input
								class="form-control" id="scoreteam1" type="text"
								name="scoreteam1">

						</div>
						
						<div class="col-1 bg-light">
							<label class="form-label" for="increment-button-1">+1</label>
							<button class="btn btn-warning counter-adjusting-button" id="increment-button-1" onclick="incrementBuzzer(1)">+</button>
						</div>
						<div class="col-1 bg-light">
							<label class="form-label" for="decrement-button-1">-1</label>
							<button class="btn btn-warning counter-adjusting-button" id="decrement-button-1" onclick="decrementBuzzer(1)">-</button>
						</div>
						
						<div class="col-1" id="current-score-1">
						</div>
						
					</div>

					<div class="mt-3 row form-group">

						<div class="col-7">

							<label class="form-label" for="teamname2">Name Team 2</label>
							<input class="form-control" id="teamname2" type="text" name="teamname2" />

						</div>
						<div class="col-2 bg-light">

							<label class="form-label" for="scoreteam2">Score Team 2</label>
							<input class="form-control" id="scoreteam2" type="text" name="scoreteam2">

						</div>
						
						<div class="col-1 bg-light">
							<label class="form-label" for="increment-button-2">+1</label>
							<button class="btn btn-warning counter-adjusting-button" id="increment-button-2" onclick="incrementBuzzer(2)">+</button>
						</div>
						<div class="col-1 bg-light">
							<label class="form-label" for="decrement-button-2">-1</label>
							<button class="btn btn-warning counter-adjusting-button" id="decrement-button-2" onclick="decrementBuzzer(2)">-</button>
						</div>
						
						<div class="col-1" id="current-score-2">
						</div>
						
					</div>
					
					<div class="mt-3 row form-group">

						<div class="col-7">

							<label class="form-label" for="teamname3">Name Team 3</label> <input
								class="form-control" id="teamname3" type="text" name="teamname3" />

						</div>
						<div class="col-2 bg-light">

							<label class="form-label" for="scoreteam3">Score Team 3</label>
							<input class="form-control" id="scoreteam3" type="text" name="scoreteam3">

						</div>
						<div class="col-1 bg-light">
							<label class="form-label" for="increment-button-3">+1</label>
							<button class="btn btn-warning counter-adjusting-button" id="increment-button-3" onclick="incrementBuzzer(3)">+</button>
						</div>
						<div class="col-1 bg-light">
							<label class="form-label" for="decrement-button-3">-1</label>
							<button class="btn btn-warning counter-adjusting-button" id="decrement-button-3" onclick="decrementBuzzer(3)">-</button>
						</div>
						
						<div class="col-1" id="current-score-3">
						</div>
						
					</div>


					<button class="mt-3 btn btn-success" onClick="sendFormData()">Submit</button>

					<button class="mt-3 btn btn-warning" onClick="resetGameData()">Spielstand
						zur&uumlcksetzen</button>


					<div id="status" class="mt-3"></div>

				</form>
				
			</div>

		</div>

	</div>
	
	<footer>
		<span>designed by</span>
		<img src="images/on_tour_for_jesus.png" height="50">
	</footer>

</body>

</html>